.section {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;

	// @media (max-width: 1200px) {
	// 	display: none;
	// }

	.finger {
		position: absolute;
		z-index: 1;
		bottom: -60px;
	}

	.img_main {
		width: 100%;

		@media (max-width: 1200px) {
			height: 250px;
		}

		@media (max-width: 1020px) {
			height: 200px;
		}

		@media (max-width: 800px) {
			height: 150px;
		}

		@media (max-width: 450px) {
			height: 100px;
		}
	}

	.left {
		position: relative;
		cursor: pointer;

		h2 {
			position: absolute;
			top: calc(50% - 20px);
			right: 30px;
			color: #fff;
			font-size: 24px;

			@media (max-width: 1020px) {
				font-size: 20px;
			}

			@media (max-width: 800px) {
				font-size: 10px;
			}

			@media (max-width: 450px) {
				top: calc(50%);
				right: 10px;
			}
		}

		.finger {
			right: 20px;

			@media (max-width: 800px) {
				bottom: -20px;
				height: 60px;
				width: 60px;
			}
		}

		&::after {
			content: "Низькі ціни";
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(20px, 120px) rotate(-45deg);
			font-size: 24px;

			@media (max-width: 1200px) {
				transform: translate(20px, 100px) rotate(-45deg);
			}

			@media (max-width: 1020px) {
				display: none;
			}
		}
	}
	.right {
		position: relative;
		cursor: pointer;

		h2 {
			position: absolute;
			top: calc(50% - 20px);
			left: 30px;
			color: #fff;
			font-size: 24px;

			@media (max-width: 1020px) {
				font-size: 20px;
			}

			@media (max-width: 800px) {
				font-size: 10px;
			}
			@media (max-width: 450px) {
				top: calc(50%);
				left: 10px;
			}
		}

		.finger {
			transform: scaleX(-1);
			left: 20px;

			@media (max-width: 800px) {
				bottom: -20px;
				height: 60px;
				width: 60px;
			}
		}

		&::after {
			content: "Гарантія 3 роки";
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(-20px, 120px) rotate(45deg);
			font-size: 24px;

			@media (max-width: 1200px) {
				transform: translate(-20px, 80px) rotate(45deg);
			}

			@media (max-width: 1020px) {
				display: none;
			}
		}
	}
}
